.back {
    background-image: url("../cab1.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100%;
}

.RidesStyle{
    text-align: left;
    margin-left: 150px;
    font-size: larger;
}


.cardStyle {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    
    
}

.card:hover {
    box-shadow: 10px 10px 5px grey;
}

.DateInfoStyle {
    text-align: left;
    font-size: large;
    text-decoration: none;
    font-style: italic;

}

.PassengerInfoStyle {
    color: darkblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

.FareInfoStyle {
    text-align: right;
    font-size: smaller;
    text-decoration: none;
    font-weight: bold;
    color: grey;
    font-style: italic;

}

